{%extends 'Dashboard.html'%}
{% load static %}
{% block content %}
    <section class="content-header">
        <h1>Homepage
                
        </h1> 
    </section>
    <section class="content">
            <div class="row"  >
                    <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="info-box bg-red">
                            <span class="info-box-icon"><i class="fa fa-users"></i></span>
                            <!---->
                            <ul class="dropdown-menu">
                                    <li><a href="#">Internal Services</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Verification</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Completion</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Document Process</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Warehouse</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Credit Card Operations</a></li>
                                  </ul>     <!---->
                            <div class="info-box-content">
                                
                                <span class="info-box-number">Customer Service</span>
                            </div>
                            <!-- info box content -->
                        </div>
                        <!-- info box  -->
                    </a>
                    </div>
                
                    <!--   -->
                    
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="#">    
                        <div class="info-box bg-orange">
                                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Internal Services</span>
                                    <span class="info-box-number">12345</span>
                                </div>
                                <!-- info box content -->
                            </div>
                            <!-- info box  -->
                        </a>
                        </div>
                        <!--   -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="info-box bg-green">
                                    <span class="info-box-icon "><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-number">User Management</span>
                                        <span class="info-box-number">1234</span>
                                    </div>
                                    <!-- info box content -->
                                </div>
                            </a>
                                <!-- info box  -->
                            </div>
                            <!--   -->    
                </div>    

                <div class="row"  >
                        <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="info-box bg-red">
                                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                <!---->
                                <ul class="dropdown-menu">
                                        <li><a href="#">Internal Services</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Verification</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Completion</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Document Process</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Warehouse</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Credit Card Operations</a></li>
                                      </ul>     <!---->
                                <div class="info-box-content">
                                    
                                    <span class="info-box-number">Customer Service</span>
                                </div>
                                <!-- info box content -->
                            </div>
                            <!-- info box  -->
                        </a>
                        </div>
                    
                        <!--   -->
                        
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <a href="#">    
                            <div class="info-box bg-orange">
                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Internal Services</span>
                                        <span class="info-box-number">12345</span>
                                    </div>
                                    <!-- info box content -->
                                </div>
                                <!-- info box  -->
                            </a>
                            </div>
                            <!--   -->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="#">
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon "><i class="fa fa-users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">User Management</span>
                                            <span class="info-box-number">1234</span>
                                        </div>
                                        <!-- info box content -->
                                    </div>
                                </a>
                                    <!-- info box  -->
                                </div>
                                <!--   -->    
                    </div>    

                    <div class="row"  >
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="info-box bg-red">
                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                    <!---->
                                    <ul class="dropdown-menu">
                                            <li><a href="#">Internal Services</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Verification</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Completion</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Document Process</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Warehouse</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Credit Card Operations</a></li>
                                          </ul>     <!---->
                                    <div class="info-box-content">
                                        
                                        <span class="info-box-number">Customer Service</span>
                                    </div>
                                    <!-- info box content -->
                                </div>
                                <!-- info box  -->
                            </a>
                            </div>
                        
                            <!--   -->
                            
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href="#">    
                                <div class="info-box bg-orange">
                                        <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Internal Services</span>
                                            <span class="info-box-number">12345</span>
                                        </div>
                                        <!-- info box content -->
                                    </div>
                                    <!-- info box  -->
                                </a>
                                </div>
                                <!--   -->    
                        </div>    

                        <div class="row"  >
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div class="info-box bg-red">
                                        <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                        <!---->
                                        <ul class="dropdown-menu">
                                                <li><a href="#">Internal Services</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Verification</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Completion</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Document Process</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Warehouse</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Credit Card Operations</a></li>
                                              </ul>     <!---->
                                        <div class="info-box-content">
                                            
                                            <span class="info-box-number">Customer Service</span>
                                        </div>
                                        <!-- info box content -->
                                    </div>
                                    <!-- info box  -->
                                </a>
                                </div>
                            
                                <!--   -->
                                
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <a href="#">    
                                    <div class="info-box bg-orange">
                                            <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text">Internal Services</span>
                                                <span class="info-box-number">12345</span>
                                            </div>
                                            <!-- info box content -->
                                        </div>
                                        <!-- info box  -->
                                    </a>
                                    </div>
                                    <!--   -->
                            </div>    

                            <div class="row"  >
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="info-box bg-red">
                                            <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                            <!---->
                                            <ul class="dropdown-menu">
                                                    <li><a href="#">Internal Services</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Verification</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Completion</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Document Process</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Warehouse</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Credit Card Operations</a></li>
                                                  </ul>     <!---->
                                            <div class="info-box-content">
                                                
                                                <span class="info-box-number">Customer Service</span>
                                            </div>
                                            <!-- info box content -->
                                        </div>
                                        <!-- info box  -->
                                    </a>
                                    </div>
                                
                                    <!--   -->
                                    
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#">    
                                        <div class="info-box bg-orange">
                                                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                                <div class="info-box-content">
                                                    <span class="info-box-text">Internal Services</span>
                                                    <span class="info-box-number">12345</span>
                                                </div>
                                                <!-- info box content -->
                                            </div>
                                            <!-- info box  -->
                                        </a>
                                        </div>
                                </div>    

                                <div class="row"  >
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="info-box bg-red">
                                                <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                                <!---->
                                                <ul class="dropdown-menu">
                                                        <li><a href="#">Internal Services</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Verification</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Completion</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Document Process</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Warehouse</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Credit Card Operations</a></li>
                                                      </ul>     <!---->
                                                <div class="info-box-content">
                                                    
                                                    <span class="info-box-number">Customer Service</span>
                                                </div>
                                                <!-- info box content -->
                                            </div>
                                            <!-- info box  -->
                                        </a>
                                        </div>
                                    
                                        <!--   -->
                                        
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <a href="#">    
                                            <div class="info-box bg-orange">
                                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                                    <div class="info-box-content">
                                                        <span class="info-box-text">Internal Services</span>
                                                        <span class="info-box-number">12345</span>
                                                    </div>
                                                    <!-- info box content -->
                                                </div>
                                                <!-- info box  -->
                                            </a>
                                            </div>
                                            <!--   -->
                                    </div>    
                    

    </section>
{% endblock %}